<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-5 col-11">
      <app-input
        [type]="'text'"
        [label]="'topic.create.form.topic-dictionaries.source-word.label'"
        [placeholder]="
          'topic.create.form.topic-dictionaries.source-word.placeholder'
        "
        [required]="false"
        (valueChanges)="onTopicSourceWordValueChanges($event)"
      ></app-input>
    </div>

    <i class="col-1 text-center fa-solid fa-arrow-right"></i>

    <div class="col-md-5 col-11">
      <app-input
        [type]="'text'"
        [label]="'topic.create.form.topic-dictionaries.target-word.label'"
        [placeholder]="
          'topic.create.form.topic-dictionaries.target-word.placeholder'
        "
        [required]="false"
        (valueChanges)="onTopicTargetWordValueChanges($event)"
      ></app-input>
    </div>

    <i
      class="col-1 fa-solid fa-trash delete-icon"
      (click)="onDeleteTopicWord()"
    ></i>
  </div>
</div>
