.sync-button {
  color: #ffffff;
  background: #5955b3;
  width: fit-content;
  border-radius: 5rem;
  padding: 1px 1rem;
  cursor: pointer;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
