<div
  class="container-fluid topic-create-form-container"
  *ngIf="untypedFormGroup"
  [formGroup]="untypedFormGroup"
>
  <div class="row">
    <app-sync-button
      [label]="'common.button.save' | translate"
    ></app-sync-button>
  </div>

  <div class="row">
    <div class="col-12 col-md-2">
      <app-single-dropdown-selector
        [label]="'topic.create.form.language-level'"
        [defaultSelected]="untypedFormGroup.get('languageLevel')?.value"
        [options]="languageLevels"
        [isNullValueSelectable]="false"
        (selectedOption)="onSelectedLanguageLevelsOption($event)"
      ></app-single-dropdown-selector>
    </div>

    <div class="col-12 col-md-2">
      <app-single-dropdown-selector
        [label]="'topic.create.form.source-language'"
        [defaultSelected]="untypedFormGroup.get('sourceLanguage')?.value"
        [options]="dictionaryLanguages"
        [isNullValueSelectable]="false"
        (selectedOption)="onSelectedSourceLanguageOption($event)"
      ></app-single-dropdown-selector>
    </div>

    <div class="col-12 col-md-2">
      <app-single-dropdown-selector
        [label]="'topic.create.form.target-language'"
        [defaultSelected]="untypedFormGroup.get('targetLanguage')?.value"
        [options]="dictionaryLanguages"
        [isNullValueSelectable]="false"
        (selectedOption)="onSelectedTargetLanguageOption($event)"
      ></app-single-dropdown-selector>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-input
        [type]="'text'"
        [label]="'topic.create.form.title.label'"
        [placeholder]="'topic.create.form.title.placeholder'"
        [required]="true"
        (valueChanges)="onTitleValueChanges($event)"
      ></app-input>
    </div>
  </div>
</div>
