<div
  class="container-fluid topic-create-form-container"
  *ngIf="untypedFormGroup"
  [formGroup]="untypedFormGroup"
>
  <div class="row">
    <app-async-button
      [label]="'common.button.save' | translate"
      [disabled]="!untypedFormGroup.valid"
    ></app-async-button>
  </div>

  <div class="row">
    <div class="col-12 col-md-2">
      <app-single-dropdown-selector
        [label]="'topic.create.form.language-level'"
        [defaultSelected]="untypedFormGroup.get('languageLevel')?.value"
        [options]="languageLevels"
        [isNullValueSelectable]="false"
        (selectedOption)="onSelectedLanguageLevelsOption($event)"
      ></app-single-dropdown-selector>
    </div>

    <div class="col-12 col-md-2">
      <app-single-dropdown-selector
        [label]="'topic.create.form.source-language'"
        [defaultSelected]="untypedFormGroup.get('sourceLanguage')?.value"
        [options]="dictionaryLanguages"
        [isNullValueSelectable]="false"
        (selectedOption)="onSelectedSourceLanguageOption($event)"
      ></app-single-dropdown-selector>
    </div>

    <div class="col-12 col-md-2">
      <app-single-dropdown-selector
        [label]="'topic.create.form.target-language'"
        [defaultSelected]="untypedFormGroup.get('targetLanguage')?.value"
        [options]="dictionaryLanguages"
        [isNullValueSelectable]="false"
        (selectedOption)="onSelectedTargetLanguageOption($event)"
      ></app-single-dropdown-selector>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-input
        [type]="'text'"
        [label]="'topic.create.form.title.label'"
        [placeholder]="'topic.create.form.title.placeholder'"
        [required]="true"
        (valueChanges)="onTitleValueChanges($event)"
      ></app-input>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-text-area
        [label]="'topic.create.form.description.label'"
        [placeholder]="'topic.create.form.description.placeholder'"
        [required]="false"
        (valueChanges)="onDescriptionValueChanges($event)"
      ></app-text-area>
    </div>
  </div>

  <div class="row topic-word-row">
    <app-topic-word
      formArrayName="topicDictionaries"
      *ngFor="
        let art of getTopicDictionariesFormArray().controls;
        let i = index
      "
      (deleteTopicWord)="onDeleteTopicWord(i)"
    ></app-topic-word>
  </div>

  <div class="row justify-content-center align-items-center">
    <app-sync-button
      class="col-2 text-center"
      [label]="'topic.create.form.topic-dictionaries.add' | translate"
      (clicked)="onAddTopicDictionary()"
    ></app-sync-button>
  </div>
</div>
