<div class="container">
  <div class="row">{{ label | translate }}</div>

  <div class="row dropdown-row">
    <button
      type="button container"
      class="dropdown-data-toggle"
      data-toggle="dropdown"
    >
      <div class="row">
        <div class="col-12">{{ getSelectedOptionValue() }}</div>
      </div>
    </button>
    <div class="dropdown-menu" #dropDown>
      <button
        *ngIf="isNullValueSelectable"
        class="dropdown-item"
        (click)="onSelectOption(null)"
      >
        &zwnj;
      </button>

      <button
        *ngFor="let option of options"
        class="dropdown-item"
        (click)="onSelectOption(option.key)"
      >
        {{ option.value }}
      </button>
    </div>
  </div>
</div>
