@import '../../../../style-variables.scss';

.container {
  .dropdown-row {
    .dropdown-data-toggle {
      background: $background-purple;
      color: #ffffff;
      border: none;
      padding: 0;

      .row {
        margin: 0;

        div {
          padding: 0;
        }
      }
    }
  }
}
