.parent {
  text-align: center;
}

.sync-button {
  display: inline-block;
  color: #ffffff;
  background: #5955b3;
  border-radius: 5rem;
  padding: 1px 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.disabled {
  background-color: #ced4da;
}
