@import '../../../../style-variables.scss';

.upsert-container {
  .form-label {
    margin-bottom: 0.25rem;
  }

  .form-control {
    padding: 0.25rem;

    &:focus {
      border-color: $background-purple;
      box-shadow: 0 0 0 0.125rem $background-light-purple;
    }
  }
}
