$background-color: #5955B3;
$pastel-blue: #F4F4FE;
$pastel-lilac: #F4E9F9;
$pastel-pink: #FBECF1;
$pastel-golden-yellow: #FFF59D;
$pastel-lavender: #D1C4E9;
$pastel-deep-purple: #B39DDB;
$pastel-light-blue-lilac: #E8EAF6;
$pastel-greenish-yellow: #F0F4C3;
$pastel-light-rose-pink: #FFCDD2;
$pastel-soft-blue: #C5CAE9;
$pastel-soft-pink: #F8BBD0;
$pastel-bright-yellow: #FFEB3B;
$pastel-light-green: #C8E6C9;
