$background-purple: #5955b3;
$background-light-purple: #6e6ac5;
$background-gray: #f9f8fd;

$pastel-blue: #f4f4fe;
$pastel-lilac: #f4e9f9;
$pastel-pink: #fbecf1;
$pastel-lavender: #d1c4e9;
$pastel-light-blue-lilac: #e8eaf6;
$pastel-greenish-yellow: #f0f4c3;
$pastel-light-rose-pink: #ffcdd2;
$pastel-soft-blue: #c5cae9;
$pastel-soft-pink: #f8bbd0;
$pastel-light-green: #c8e6c9;
